/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
}

h2 {
    color: #2a5d84
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.top-nav {
    background-color: #2a5d84;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.top-nav a {
    color: #fff;
    margin: 0 20px;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.top-nav a:hover {
    color: #d4e9f7;
    text-decoration: underline;
}

/* Styling the Sections */
.section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.joke {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 150px;
}

header {
    text-align: center;
    background-color: #2a5d84;
    color: white;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #2a5d84;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Custom Background for Images */
.portrait-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styling for Lists */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul ul {
    list-style-type: square;
}

/* Positioning and Styling for Divs */
div#top {
    height: 100px; /* space for the anchor link */
}

iframe {
    border: none;
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
    border-radius: 8px;
}

/* Footer Position */
footer {
    font-size: 14px;
}